{% extends 'layout.html.twig' %}
{% block title %}
    UnAventon - Viaje
{% endblock %}

{% block style %}
    {{ parent() }}
    <!-- iCheck -->
    <link rel="stylesheet" href="../../bower_components/bootstrap-datepicker/dist/css/bootstrap-datepicker.min.css">
    <!-- Bootstrap time Picker -->
    <link rel="stylesheet" href="../../bower_components/admin-lte/plugins/timepicker/bootstrap-timepicker.css">
    <style>
        #map {
            min-height: 260px;
            min-width: 430px;
        }
    </style>

{% endblock %} 

{% block contenido %}
    <div class="box">
        <div class="box-header">
            <h3 class="box-title">Publicar nuevo viaje</h3>
        </div>
        <form action="/viaje/crear" method="post" id="altaviaje">

            <div class="box-body">
                <div class=" row">
                    <div class=" col-md-6 col-md-offset-3">

                        <div class="col-md-12 form-group {% if errors.origen is defined  %}has-error{% endif %}">
                            <label for="origen">Origen: </label>                                   
                            <div class="input-group">
                                <span class="input-group-addon"><i class="fa fa-map"></i> A</span>
                                <input type="text" class="form-control" name="origen" id="origen" placeholder="Origen" {% if form is defined  %}value="{{form.origen}}"{% endif %}>
                            </div>
                            {% if errors.origen is defined %}
                                {% for err_msg in errors.origen %}
                                    <span class="help-block">{{err_msg}}</span>
                                {% endfor %}
                            {% endif %}
                        </div>

                        <div class="col-md-12 form-group {% if errors.destino is defined  %}has-error{% endif %}">
                            <label for="origen">Destino: </label>
                            <div class="input-group">
                                <span class="input-group-addon"><i class="fa fa-map"></i> B</span>
                                <input type="text" class="form-control" name="destino" id="destino"
                                       placeholder="Destino" {% if form is defined  %}value="{{form.destino}}"{% endif %}>
                            </div>
                            {% if errors.destino is defined %}
                                {% for err_msg in errors.destino %}
                                    <span class="help-block">{{err_msg}}</span>
                                {% endfor %}
                            {% endif %}
                        </div>
                        <input id="duracion" readonly="" name="duracion" hidden=""/>

                        <div class="col-md-4 form-group {% if errors.fecha is defined  %}has-error{% endif %}">
                            <label for="origen">Fecha: </label>
                            <div class="input-group">
                                <div class="input-group-addon">
                                    <i class="fa fa-calendar"></i>
                                </div>
                                <input data-date-start-date="+1d" type="fecha" class="form-control" id="fecha" name="fecha"
                                       placeholder="Fecha" autocomplete="off" 
                                       {% if form is defined  %}value="{{form.fecha}}"{% endif %}>
                            </div>      
                            {% if errors.fecha is defined %}
                                {% for err_msg in errors.fecha %}
                                    <span class="help-block">{{err_msg}}</span>
                                {% endfor %}
                            {% endif %}
                        </div>    

                        <div class="col-md-4">
                            <div class="bootstrap-timepicker">
                                <div class="form-group {% if errors.hora is defined  %}has-error{% endif %}">
                                    <label for="origen">Hora: </label>
                                    <div class="input-group">
                                        <span class="input-group-addon"><i class="fa fa-clock-o"></i></span>
                                        <input type="text" class="form-control timepicker" 
                                               name="hora" id="hora" placeholder="Hora" {% if form is defined  %}value="{{form.hora}}"{% endif %}
                                               placeholder="Ingrese cantidad de hora">
                                    </div>
                                    {% if errors.hora is defined %}
                                        {% for err_msg in errors.hora %}
                                            <span class="help-block">{{err_msg}}</span>
                                        {% endfor %}
                                    {% endif %}
                                </div>
                            </div>
                        </div>

                        <div class="col-md-4 form-group {% if errors.monto is defined  %}has-error{% endif %}">
                            <label for="origen">Monto por asiento: </label>
                            <div class="input-group">
                                <span class="input-group-addon">$</span>
                                <input type="text" class="form-control" name="monto" id="monto" placeholder="999" {% if form is defined  %}value="{{form.monto}}"{% endif %}>
                                <span class="input-group-addon">.00</span>
                            </div>
                            {% if errors.monto is defined %}
                                {% for err_msg in errors.monto %}
                                    <span class="help-block">{{err_msg}}</span>
                                {% endfor %}
                            {% endif %}
                        </div>

                        <div class="col-md-6 form-group {% if errors.vehiculo is defined  %}has-error{% endif %}">
                            <label for="origen">Vehiculo: </label>
                            <select class="form-control" name="idVehiculo" id="selectVehiculo" >
                                {% for vehiculo in params.vehiculos %}
                                    <option value="{{vehiculo.id}}" {% if (form is defined) and (form.vehiculo.id == vehiculo.id) %}selected="selected"{% endif %}>
                                        {{vehiculo.marca}} - {{vehiculo.modelo}} - {{vehiculo.patente}}
                                    </option>
                                {% endfor %}
                            </select>
                            {% if errors.vehiculo is defined %}
                                {% for err_msg in errors.vehiculo %}
                                    <span class="help-block">{{err_msg}}</span>
                                {% endfor %}
                            {% endif %}
                        </div>

                        <div class="col-md-6 form-group {% if errors.asientos is defined  %}has-error{% endif %}">
                            <label for="origen">Cantidad de asientos: </label>
                            <select class="form-control" name="asientos" id="selectAsientos" >
                                {% for i in range(1, params.vehiculos[0].asientos) %}
                                    <option value="{{i}}" {% if (form is defined) and (form.asientos == i) %}selected="selected"{% endif %}>
                                        {{i}}
                                    </option>
                                {% endfor %}
                            </select>
                            {% if errors.asientos is defined %}
                                {% for err_msg in errors.asientos %}
                                    <span class="help-block">{{err_msg}}</span>
                                {% endfor %}
                            {% endif %}
                        </div>

                    </div>
                </div>
            </div>
            <div class="box-footer">
                <button class="btn btn-success pull-right" type="button" id="submitform">Publicar</button>
                <a href="/perfil" class="btn btn-danger pull-left" type="button" id="submitform">Cancelar</a>
            </div>
        </form>

        <div>
            <div id="map"></div>
            <div id="directions-panel"></div>
            <br/>
        </div>

    </div>
</div>



{% endblock %}



{% block script %}
    {{ parent() }}
    <!-- iCheck -->
    <script src="../../bower_components/bootstrap-datepicker/dist/js/bootstrap-datepicker.min.js"></script>
    <script src="../../bower_components/bootstrap-datepicker/dist/locales/bootstrap-datepicker.es.min.js"></script>
    <!-- bootstrap time picker -->
    <script src="../../bower_components/admin-lte/plugins/timepicker/bootstrap-timepicker.js"></script>


    <script>
        var geocoder;
        var map;
        var verifRuta = false;
        $().ready(function () {

            // Function to validate price
            var pPrice = /^[0-9]*$/;
            $("#monto").blur(function () {
                var priceRound = document.getElementById("monto").value;
                if (priceRound.trim().search(pPrice) == -1) {
                    alert("El precio es incorrecto! Solo se aceptan valores enteros.");
                } else {
                    var priceHack = parseFloat(priceRound).split();
                    document.getElementById("monto").value = priceHack;
                }
            });


            $("#selectVehiculo").change(function () {
                $.ajax({
                    url: "/vehiculo/getVehiculoJson",
                    dataType: 'json',
                    type: "post",
                    data: {idVehiculo: $(this).val()},
                    success: function (resp) {
                        $("#selectAsientos").empty();
                        console.log(resp)
                        for (var i = 1; i <= resp.vehiculo.asientos; i++) {
                            $("#selectAsientos").append($('<option>').val(i).text(i));
                        }
                    }
                });
            });
            var minDate = new Date(2019, 1, 1);
            $(function () {
                $('#fecha').datepicker({
                    autoclose: true,
                    language: 'es',
                    orientation: 'bottom',
                    maxViewMode: 0
                });
                //Timepicker
                $('.timepicker').timepicker({
                    showInputs: false,
                    showMeridian: false,
                    minuteStep: 5
                });
            });
            $("#submitform").click(function () {
                var origen = document.getElementById('origen');
                var destino = document.getElementById('destino');
                if (origen.value == "" || destino.value == "") {
                    alert("Las dos direcciones son requeridas.");
                } else {
                    var d1 = $.Deferred();
                    var d2 = $.Deferred();
                    $.when(geocodeAddress(geocoder, map, origen.value, d1), geocodeAddress(geocoder, map, destino.value, d2)).done(function (isOrigenValid, isDestinoValid) {
                        if (!isOrigenValid || !isDestinoValid) {
                            alert("Disculpe, una de las direcciones no se puede validar. Por favor verifique los campos.");
                        } else {
                            if (!verifRuta) {
                                alert("Disculpe, no podemos programar una ruta para su eleccion. Por favor elija destinos mas cercanos.");
                            } else {
                                $("#altaviaje").submit();
                            }
                        }
                    });
                }
            });
            $(window).keydown(function (event) {
                if ((event.keyCode == 13)) {
                    event.preventDefault();
                    return false;
                }
            });
        }
        );
        function initAutocomplete() {
            // servicios para dibujar la ruta
            var directionsService = new google.maps.DirectionsService;
            var directionsDisplay = new google.maps.DirectionsRenderer;
            geocoder = new google.maps.Geocoder();
            // inicializacion del mapa
            map = new google.maps.Map(document.getElementById('map'), {
                center: {lat: -34.920501, lng: -57.953572699999995},
                zoom: 13,
                mapTypeId: 'roadmap'
            });
            // obtengo los search boxes.
            var origen = document.getElementById('origen');
            var destino = document.getElementById('destino');
            // convierte el texto en un lugar
            searchBoxes = [];
            searchBoxes.push(new google.maps.places.SearchBox(origen));
            searchBoxes.push(new google.maps.places.SearchBox(destino));
            // Sesgar los resultados del cuadro de búsqueda a la vista de mapas actuales.
            $.each(searchBoxes, function (i, sb) {
                map.addListener('bounds_changed', function () {
                    sb.setBounds(map.getBounds());
                });
            });
            $.each(searchBoxes, function (i, sb) {
                sb.addListener('places_changed', function () {
                    if (origen.value == "" || destino.value == "") {
                        return;
                    } else {
                        calculateAndDisplayRoute(directionsService, directionsDisplay, origen, destino);
                    }
                });
            });
            directionsDisplay.setMap(map);
            if (origen.value == "" || destino.value == "") {
                return;
            } else {
                calculateAndDisplayRoute(directionsService, directionsDisplay, origen, destino);
            }

        }

        function geocodeAddress(geocoder, resultsMap, address, res) {
            geocoder.geocode({'address': address}, function (results, status) {
                if (status === 'OK') {
                    res.resolve(true);
                } else {
                    res.resolve(false);
                }
            });
            return res;
        }

        function calculateAndDisplayRoute(directionsService, directionsDisplay, origen, destino) {
            directionsService.route({
                origin: origen.value,
                destination: destino.value,
                optimizeWaypoints: true,
                travelMode: 'DRIVING'
            }, function (response, status) {
                if (status === 'OK') {
                    verifRuta = true;
                    directionsDisplay.setDirections(response);
                    var route = response.routes[0];
                    var summaryPanel = document.getElementById('directions-panel');
                    summaryPanel.innerHTML = '';
                    console.log(route)
                    // For each route, display summary information.
                    for (var i = 0; i < route.legs.length; i++) {
                        var routeSegment = i + 1;
                        {#summaryPanel.innerHTML += '<b>Ruta elegida: </b><br> desde ';
                        summaryPanel.innerHTML += route.legs[i].start_address + ' hasta ';
                        summaryPanel.innerHTML += route.legs[i].end_address + '<br>';
                        summaryPanel.innerHTML += route.legs[i].distance.text + '<br><br>';
                        summaryPanel.innerHTML += route.legs[i].duration.text + '<br><br>';
                        summaryPanel.innerHTML += route.legs[i].start_location.lat() + '<br><br>';
                        summaryPanel.innerHTML += route.legs[i].start_location.lng() + '<br><br>';
                        summaryPanel.innerHTML += route.legs[i].end_location.lat() + '<br><br>';
                        summaryPanel.innerHTML += route.legs[i].end_location.lng() + '<br><br>';#}
                        $("#duracion").val(route.legs[i].duration.value);
                    }
                } else {
                    verifRuta = false;
                    alert("Disculpe, no podemos programar una ruta para su eleccion. Por favor verifique los campos.");
                }
            });
        }
    </script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAjPmpXtKE4ObWzFSEZ3PyTqHmHRohog6A&libraries=places&callback=initAutocomplete"
    async defer></script>
{% endblock %}    