{% extends 'layoutPerfil.html.twig' %}
{% block title %}
    UnAventon - Viaje
{% endblock %}

{% block style %}
    {{ parent() }}
    <!-- iCheck -->
    <link rel="stylesheet" href="../../bower_components/bootstrap-datepicker/dist/css/bootstrap-datepicker.min.css">
    <!-- Bootstrap time Picker -->
    <link rel="stylesheet" href="../../bower_components/admin-lte/plugins/timepicker/bootstrap-timepicker.css">
    <style>
        #map {
            min-height: 260px;
            min-width: 430px;
        }
    </style>

{% endblock %} 
{% block boxPerfil %}
    <!-- Profile Image -->
    <div class="box box-primary">
        <div class="box-body box-profile">
            <img class="profile-user-img img-responsive img-circle" src="{% if chofer.foto %}{{chofer.foto}}{% else %}/img/anonimo.png{% endif %}" alt="User profile picture">
            <h3 class="profile-username text-center"> {{chofer.nombre}} {{chofer.apellido}}</h3>
            <p class="text-muted text-center">{{chofer.email}}</p>
            <ul class="list-group list-group-unbordered">
                <li class="list-group-item">
                    <b>Total de Viajes</b> <a class="pull-right">{{chofer.cantViajesChofer + chofer.cantViajesPasajero}}</a>
                </li>
                <li class="list-group-item">
                    <b>Como Chofer</b> <a class="pull-right">{{chofer.cantViajesChofer}}</a>
                </li>
                <li class="list-group-item">
                    <b>Pasajero</b> <a class="pull-right">{{chofer.cantViajesPasajero}}</a>
                </li>
                <li class="list-group-item">
                    <b>Reputacion</b> <a class="pull-right">{{chofer.reputacion}}</a>
                </li>
            </ul>
            {% if  viaje.id_estado == 5 %}
                VIAJE FINALIZADO
            {% else %}
                {% if esChofer %}
                    {% if viaje.id_estado in [1, 4] %}
                        <a class="btn btn-danger btn-block" id="cancelarViaje" href="/viaje/cancelarviaje/{{viaje.id}}"><b>CANCELAR VIAJE</b></a>
                    {% elseif  viaje.id_estado == 2 %}
                        <a class="btn btn-danger btn-block" id="finalizarViaje" href="/viaje/finalizarviaje/{{viaje.id}}"><b>FINALIZAR VIAJE</b></a>
                    {% elseif  viaje.id_estado == 5 %}
                        <b>VIAJE FINALIZADO</b>
                    {% endif %}
                {% else %}
                    {% if postulado %}
                        {% if postulacion.estado_postulacion == 2 %}
                            <button class="btn btn-danger btn-block" id="anularPostulacion"><b>ANULAR POSTULACIÓN</b></button>
                        {% else %}
                            <button class="btn btn-warning btn-block" id="anularPostulacion"><b>ANULAR POSTULACIÓN</b></button>
                        {% endif %}
                    {% elseif puedePublicarPostular == 0 %}
                        <button class="btn btn-success btn-block" id="postularse"><b>POSTULARME</b></button>
                    {% else %}
                        <div class="d-inline-block" 
                             data-toggle="popover" 
                             title="Requisitos para postularse" 
                             data-container="body" 
                             data-content="Para postularse a viajes, no debe facturas impagas ni calificaciones pendientes.">
                            <button class="btn btn-success btn-block disabled">
                                <b>POSTULARME</b>
                            </button>
                        </div>
                    {% endif %}
                {% endif %}
            {% endif %}
        </div>
        <!-- /.box-body -->
    </div>
{% endblock %}
{% block subContenido %}
    <div class="box box-info">
        <div class="box-header">
            <h3 class="profile-username text-center">ESTADO {{viaje.nombre}}</h3>
        </div>
    </div>
    {% if chofer.id == session.get('usuario').id %}
        {% if viaje.id_estado in [1, 4] %}
            <!-- Tabla de postulantes -->          
            <div class="box box-info">
                <div class="box-header">
                    <h3 class="profile-username text-center">Postulantes al viaje</h3>
                </div>
                <!-- /.box-body -->


                <div class="box-body">

                    <table class="table text-center">
                        <thead>
                            <tr>
                                <th>Usuario</th>
                                <th>Reputacion</th>
                                <th>Acciones</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for postu in postulaciones %}
                                <tr>
                                    <td>{{postu.nombre}}, {{postu.apellido}}</td>
                                    <td>{{postu.reputacion}}</td>
                                    {% if viaje.id_estado not in [2, 3, 5] %}
                                        <td>
                                            {% if postu.estado_postulacion == 1 %}
                                                <a href="/viaje/aceptarPostulacion/{{postu.id_postulacion}}" data-postulacion="{{postu.id_postulacion}}" class="btn btn-success aceptarPostulacion">Aceptar</a>
                                                <a href="/viaje/rechazarPostulacion/{{postu.id_postulacion}}" data-postulacion="{{postu.id_postulacion}}" class="btn btn-warning rechazarPostulacion">Rechazar</a>
                                            {% elseif postu.estado_postulacion == 2 %}
                                                <a href="/viaje/rechazarPostulacion/{{postu.id_postulacion}}" data-postulacion="{{postu.id_postulacion}}" class="btn btn-danger rechazarPostulacion">Rechazar</a>
                                            {% endif %}
                                        </td>
                                    {% endif %}
                                </tr>
                            {% endfor%}
                        </tbody>
                    </table>

                </div>
            </div>
        {% else %}
            <!-- Tabla de pasajeros-->          
            <div class="box box-info">
                <div class="box-header">
                    <h3 class="profile-username text-center">Pasajeros del viaje</h3>
                </div>
                <!-- /.box-body -->
                <div class="box-body">
                    <table class="table text-center">
                        <thead>
                            <tr>
                                <th>Usuario</th>
                                <th>Reputacion</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for postu in pasajeros %}
                                <tr>
                                    <td>{{postu.nombre}}, {{postu.apellido}}</td>
                                    <td>{{postu.reputacion}}</td>
                                </tr>
                            {% endfor%}
                        </tbody>
                    </table>

                </div>
            </div>
        {% endif %}

    {% elseif postulado %}
        {% if postulacion.estado_postulacion == 2 %}
            <div class="callout callout-success">
                <p>Estas aceptado!!! Solo queda esperar el dia de partida. Podes contactar al chofer en la seccion de consultas!!!</p>
            </div>  
        {% elseif postulacion.estado_postulacion == 5 %}
            <div class="callout callout-success">
                <p>El viaje termino!!! Esperamos que lo hayas disfrutado!!! No dejes de viajar!!!</p>
            </div>  
        {% else %}
            <div class="callout callout-info">
                <p>Estas postulado!!! Solo queda que el chofer te confirme. Podes contactarlo en la seccion de consultas!!!</p>
            </div>  
        {% endif %}
    {% else %}
        <div class="callout callout-info">
            <p>No estas postulado a este viaje. Animate a viajar!!! Postulate Ya!!!</p>
        </div>  
    {% endif %}


    <div class="box box-info">

        <div class="box-body">
            <div class="col-md-6">
                <h3 class="profile-username text-center">Info general</h3>
                <ul class="list-group list-group-unbordered">
                    <li class="list-group-item" id="detalleOrigen">
                        <b>Origen: </b>
                    </li>
                    <li class="list-group-item" id="detalleDestino">
                        <b>Destino: </b>
                    </li>
                    <li class="list-group-item" id="detalleKms">
                        <b>Kms: </b>
                    </li>
                    <li class="list-group-item" id="detalleDuracion">
                        <b>Duración: </b>
                    </li>
                    <li class="list-group-item">
                        <b>Fecha:</b> {{viaje.fecha|date("d/m/Y")}}
                    </li>
                    <li class="list-group-item">
                        <b>hora:</b> {{viaje.hora|date("H:i")}}
                    </li>
                    <li class="list-group-item">
                        <b>Usuarios postulados:</b> {{postulaciones|length}}
                    </li>
                </ul>
            </div>

            <div class="col-md-6">
                <h3 class="profile-username text-center">Vehiculo</h3>
                <ul class="list-group list-group-unbordered">
                    <li class="list-group-item" id="detalleOrigen">
                        <b>Marca: </b> {{vehiculo.marca}}
                    </li>
                    <li class="list-group-item" id="detalleDestino">
                        <b>Modelo: </b> {{vehiculo.modelo}}
                    </li>
                    <li class="list-group-item" id="detalleKms">
                        <b>Patente: </b> {{vehiculo.patente}}
                    </li>
                    <li class="list-group-item">
                        <b>Baul:</b> {% if vehiculo.baul %}SI{% else %}NO{% endif %}
                    </li>
                    <li class="list-group-item">
                        <b>Asientos:</b> {{viaje.asientos}}
                    </li>
                    <li class="list-group-item">
                        <b>Usuarios Aceptados:</b> {{postulacionesAceptadas}}
                    </li>
                    <li class="list-group-item">
                        <b>Asientos Disponibles:</b> {{viaje.asientos - postulacionesAceptadas}}
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="box box-info">
        <div class="box-body">
            <h3 class="profile-username text-center">Recorrido estimado</h3>
        </div>
        <!-- /.box-body -->
        <div class="box-body">

            <div id="map"></div>

        </div>
    </div>
    <!-- Chat box -->
    <div class="box box-warning">
        <div class="box-header">
            <h3 class="profile-username text-center">Preguntas al conductor</h3>

            <div class="box-tools pull-right" data-toggle="tooltip" title="Status">

            </div>
        </div>
        <div class="box-body chat" id="chat-box">
            <!-- chat item -->
            <div class="item">
                <img src="/img/anonimo.png" alt="user image" class="online">

                <p class="message">
                    <a href="#" class="name">
                        <small class="text-muted pull-right"><i class="fa fa-clock-o"></i> 2:15</small>
                        Mike Doe
                    </a>
                    I would like to meet you to discuss the latest news about
                    the arrival of the new theme. They say it is going to be one the
                    best themes on the market
                </p>
                <div class="attachment item">
                    <img src="/img/anonimo.png" alt="user image" class="online">
                    <a href="#" class="name">
                        <small class="text-muted pull-right"><i class="fa fa-clock-o"></i> 2:15</small>
                        Mike Doe
                    </a>
                    <p>
                        I would like to meet you to discuss the latest news about
                        the arrival of the new theme. They say it is going to be one the
                        best themes on the market
                    </p>
                </div>
                <!-- /.attachment -->
            </div>
            <!-- /.item -->
            <!-- chat item -->
            <div class="item">
                <img src="/img/anonimo.png" alt="user image" class="offline">

                <p class="message">
                    <a href="#" class="name">
                        <small class="text-muted pull-right"><i class="fa fa-clock-o"></i> 5:15</small>
                        Alexander Pierce
                    </a>
                    I would like to meet you to discuss the latest news about
                    the arrival of the new theme. They say it is going to be one the
                    best themes on the market
                </p>
                <div class="input-group">
                    <input class="form-control" placeholder="Type message...">

                    <div class="input-group-btn">
                        <button type="button" class="btn btn-success">Responder</button>
                    </div>
                </div>
            </div>
            <!-- /.item -->
            <!-- chat item -->
            <div class="item">
                <img src="/img/anonimo.png" alt="user image" class="offline">

                <p class="message">
                    <a href="#" class="name">
                        <small class="text-muted pull-right"><i class="fa fa-clock-o"></i> 5:30</small>
                        Susan Doe
                    </a>
                    I would like to meet you to discuss the latest news about
                    the arrival of the new theme. They say it is going to be one the
                    best themes on the market
                </p>
                <div class="attachment item">
                    <img src="/img/anonimo.png" alt="user image" class="online">
                    <a href="#" class="name">
                        <small class="text-muted pull-right"><i class="fa fa-clock-o"></i> 2:15</small>
                        Mike Doe
                    </a>
                    <p class="message">
                        I would like to meet you to discuss the latest news about
                        the arrival of the new theme. They say it is going to be one the
                        best themes on the market
                    </p>
                </div>
            </div>
            <!-- /.item -->

            <!-- chat item -->
            <div class="item">
                <img src="/img/anonimo.png" alt="user image" class="offline">

                <p class="message">
                    <a href="#" class="name">
                        <small class="text-muted pull-right"><i class="fa fa-clock-o"></i> 5:30</small>
                        Susan Doe
                    </a>
                    I would like to meet you to discuss the latest news about
                    the arrival of the new theme. They say it is going to be one the
                    best themes on the market
                </p>
                <div class="input-group">
                    <input class="form-control" placeholder="Type message...">

                    <div class="input-group-btn">
                        <button type="button" class="btn btn-success">Responder</button>
                    </div>
                </div>
            </div>
            <!-- /.item -->

            <!-- chat item -->
            <div class="item">
                <img src="/img/anonimo.png" alt="user image" class="offline">

                <p class="message">
                    <a href="#" class="name">
                        <small class="text-muted pull-right"><i class="fa fa-clock-o"></i> 5:30</small>
                        Susan Doe
                    </a>
                    I would like to meet you to discuss the latest news about
                    the arrival of the new theme. They say it is going to be one the
                    best themes on the market
                </p>
                <div class="input-group">
                    <input class="form-control" placeholder="Type message...">

                    <div class="input-group-btn">
                        <button type="button" class="btn btn-success">Responder</button>
                    </div>
                </div>
            </div>
            <!-- /.item -->

            <!-- chat item -->
            <div class="item">
                <img src="/img/anonimo.png" alt="user image" class="offline">

                <p class="message">
                    <a href="#" class="name">
                        <small class="text-muted pull-right"><i class="fa fa-clock-o"></i> 5:30</small>
                        Susan Doe
                    </a>
                    I would like to meet you to discuss the latest news about
                    the arrival of the new theme. They say it is going to be one the
                    best themes on the market
                </p>
                <div class="attachment item">
                    <img src="/img/anonimo.png" alt="user image" class="online">
                    <a href="#" class="name">
                        <small class="text-muted pull-right"><i class="fa fa-clock-o"></i> 2:15</small>
                        Mike Doe
                    </a>
                    <p class="message">
                        I would like to meet you to discuss the latest news about
                        the arrival of the new theme. They say it is going to be one the
                        best themes on the market
                    </p>
                </div>
            </div>
            <!-- /.item -->
        </div>
    </div>
    <!-- /.box (chat box) -->
</div>



{% endblock %}

{% block script %}
    {{ parent() }}
    <script>

        function initMap() {
            var map = new google.maps.Map(document.getElementById('map'), {
                zoom: 8,
                center: {lat: -34.91482928576744, lng: -57.94609843010255}
            });
            var geocoder = new google.maps.Geocoder();
            var directionsService = new google.maps.DirectionsService();
            var directionsDisplay = new google.maps.DirectionsRenderer();
            directionsDisplay.setMap(map);
            /* En caso de querer ver las indicaciones */
            directionsDisplay.setPanel($('#panel').html());
            var origen = "{{viaje.origen}}";
            var destino = "{{viaje.destino}}";
            calculateAndDisplayRoute(directionsService, directionsDisplay, origen, destino)
        }
        function geocodeAddress(geocoder, resultsMap) {
            var address = document.getElementById('address').value;
            geocoder.geocode({'address': address}, function (results, status) {
                if (status === 'OK') {
                    resultsMap.setCenter(results[0].geometry.location);
                    var marker = new google.maps.Marker({
                        map: resultsMap,
                        position: results[0].geometry.location
                    });
                } else {
                    alert('Geocode was not successful for the following reason: ' + status);
                }
            });
        }
        function calculateAndDisplayRoute(directionsService, directionsDisplay, origen, destino) {
            directionsService.route({
                origin: origen,
                destination: destino,
                optimizeWaypoints: true,
                travelMode: 'DRIVING'
            }, function (response, status) {
                if (status === 'OK') {
                    directionsDisplay.setDirections(response);
                    var route = response.routes[0];
                    var summaryPanel = document.getElementById('directions-panel');
                    $("#detalleOrigen").append(route.legs[0].start_address);
                    $("#detalleDestino").append(route.legs[0].end_address);
                    $("#detalleKms").append(route.legs[0].distance.text);
                    $("#detalleDuracion").append(route.legs[0].duration.text);
                } else {
                    window.alert('La direccion requerida fallo: ' + status);
                }
            });
        }

        $().ready(function () {
            $('[data-toggle="popover"]').popover()
            $(".aceptarPostulacion").click(function () {
                var ok = confirm("Seguro que desea aceptar esta postulación?");
                if (!ok) {
                    return false;
                }
            });
            $(".rechazarPostulacion").click(function () {
                var ok = confirm("Seguro que desea rechazar esta postulación?");
                if (!ok) {
                    return false;
                }
            });
            $(".eliminarPostulacion").click(function () {
                var ok = confirm("Seguro que desea eliminar esta postulación?");
                if (!ok) {
                    return false;
                }
            });
        {% if not esChofer %}
            {% if postulado %}
                    $("#anularPostulacion").click(function () {
                {% if postulacion.estado_postulacion == 2 %}
                            var msj = "CUIDADO!!! Ya fuiste aceptado, si anular tu postulacion ahora seras penalizado con -1 punto de reputacion. Seguro que queres anular tu postulacion?"
                {% else %}
                            var msj = "Aun no fuiste aceptado, seguro que desea anular su postulacion?"
                {% endif %}
                            if (confirm(msj)) {
                                $.ajax({
                                    url: "/usuario/cancelarPostulacion",
                                    dataType: 'json',
                                    type: "post",
                                    data: {idViaje: '{{viaje.id}}', idChofer: '{{chofer.id}}', idPostu: {{postulacion.id_postulacion}}},
                                    success: function (resp) {
                                        if (resp.ok) {
                                            location.reload();
                                        } else {
                                            alert("error al registrar la postulacion.\n" + resp.mensaje)
                                        }
                                    }
                                });
                            }
                        });
            {% else %}
                    $("#postularse").click(function () {
                        $.ajax({
                            url: "/usuario/postular",
                            dataType: 'json',
                            type: "post",
                            data: {idViaje: '{{viaje.id}}', idChofer: '{{chofer.id}}'},
                            success: function (resp) {
                                if (resp.ok) {
                                    location.reload();
                                } else {
                                    alert("error al registrar la postulacion.\n" + resp.mensaje)
                                }
                            }
                        });
                    });
            {% endif %}
        {% else %}
                $("#cancelarViaje").click(function () {
                    var msj;
                    msj = "Recuerda las reglas de UnAventon: \n\
            Si el viaje no tiene tiene postulaciones aceptadas no hay ningun problema, pero\n\
            si aceptaste postulaciones tendras -1 punto reputacion por cancelar un viaje \n\
            con postulaciones aceptadas y -1 punto por cada postulacion aceptada.";
                    var ok = confirm(msj);
                    if (!ok) {
                        return false;
                    }
                });
        {% endif %}
            });
    </script>
    <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAjPmpXtKE4ObWzFSEZ3PyTqHmHRohog6A&callback=initMap">
    </script>

    <!-- Slimscroll -->
    <script src="../../bower_components/jquery-slimscroll/jquery.slimscroll.min.js"></script>
{% endblock %}
