


{% extends 'layoutPerfil.html.twig' %}
{% block title %}
    UnAventon - Perfil
{% endblock %}

{% block subContenido %}
    <div class="register-box-body">
        <p class="login-box-msg">Modificar  vehiculo</p>

        <form id="formvehiculo" action="/vehiculo/modificar" method="post">
            <div class="form-group {% if errors.marca is defined  %}has-error{% endif %}">
                <input type="text" class="form-control" name="marca" placeholder="Marca" {% if vehiculo is defined  %}value="{{vehiculo.marca}}"{% endif %}>
                {% if errors.marca is defined %}
                    {% for err_msg in errors.marca %}
                        <span class="help-block">{{err_msg}}</span>
                    {% endfor %}
                {% endif %}
            </div>
            <div class="form-group {% if errors.modelo is defined  %}has-error{% endif %}">
                <input type="text" class="form-control" name="modelo" placeholder="modelo" {% if vehiculo is defined  %}value="{{vehiculo.modelo}}"{% endif %}>
                {% if errors.modelo is defined %}
                    {% for err_msg in errors.modelo %}
                        <span class="help-block">{{err_msg}}</span>
                    {% endfor %}
                {% endif %}
            </div>
            <input type="hidden" id="custId" name="idVehiculo" value={{vehiculo.id}}>
            <div class="form-group {% if errors.patente is defined  %}has-error{% endif %}">
                <input type="patente" class="form-control" name="patente" placeholder="Patente" {% if vehiculo is defined  %}value="{{vehiculo.patente}}"{% endif %}>
                {% if errors.patente is defined %}
                    {% for err_msg in errors.patente %}
                        <span class="help-block">{{err_msg}}</span>
                    {% endfor %}
                {% endif %}
            </div>
            <div class="form-group {% if errors.asientos is defined  %}has-error{% endif %}">
                <input type="text" class="form-control" name="asientos" id="asientos" {% if vehiculo is defined  %}value="{{vehiculo.asientos}}"{% endif %}
                       placeholder="Ingrese cantidad de Asientos">
                {% if errors.asientos is defined %}
                    {% for err_msg in errors.asientos %}
                        <span class="help-block">{{err_msg}}</span>
                    {% endfor %}
                {% endif %}
            </div>

            <div class="row">
                <div class="col-xs-8">
                    <div class="form-group {% if errors.repass is defined  %}has-error{% endif %}">

                        <div class="checkbox icheck ">
                            <label>

                                <label> <input name="baul" type="checkbox" 
                                               {% if vehiculo is defined %}
                                                   {% if vehiculo.baul==1%}
                                                       checked
                                                   {% endif %}
                                               {% endif %} > Cuento con baúl </label>
                                    {#  <input name="baul" type="checkbox"> <label>Cuento con baúl </label>#}

                                {% if errors.baul is defined %}
                                    {% for err_msg in errors.terminos %}
                                        <span class="help-block">{{err_msg}}</span>
                                    {% endfor %}
                                {% endif %}
                            </label>
                        </div>
                    </div>
                </div>
                <!-- /.col -->
                <div class="col-xs-4">
                    <button type="submit" id="submitRegistro" class="btn btn-primary btn-block btn-flat">Modificar</button>
                </div>
                <!-- /.col -->
            </div>
        </form>
    </div>
{% endblock %}


{% block script %}
    {{parent()}}
    <script>
        $().ready(function () {

            $(".edit").click(function (event) {
                var elem = $(event.target);
                if (elem.is("i")) {
                    elem = $(elem.parent());
                }
                console.log(elem.data("id"))
                alert("Modificar vehiculo con id: " + elem.data("id"));
            });
            $(".remove").click(function (event) {
                ok = confirm("¿Esta seguro que desea eliminar este vehiculo?");
                if (ok) {
                    var elem = $(event.target);
                    if (elem.is("i")) {
                        elem = $(elem.parent());
                    }
                    alert("Eliminar vehiculo con id: " + elem.data("id"));
                } else {
                    alert("Pedido cancelado");
                }
            });
        });
    </script>
{% endblock %}