{% extends 'layoutPerfil.html.twig' %}


{% block subContenido %}
<div class="register-box-body">
            <p class="login-box-msg">Edita Tu Perfil</p>

            <form action="/usuario/editar" method="post" enctype="multipart/form-data">
                <div class="form-group {% if errors.nombre is defined  %}has-error{% endif %}">
                    <input type="text" class="form-control" name="nombre" placeholder="Nombre" {% if form is defined  %}value="{{form.nombre}}"{% endif %}>
                    
                    {% if errors.nombre is defined %}
                        {% for err_msg in errors.nombre %}
                            <span class="help-block">{{err_msg}}</span>
                        {% endfor %}
                    {% endif %}
                </div>
                <div class="form-group {% if errors.apellido is defined  %}has-error{% endif %}">
                    <input type="text" class="form-control" name="apellido" placeholder="Apellido" {% if form is defined  %}value="{{form.apellido}}"{% endif %}>
                    
                    {% if errors.apellido is defined %}
                        {% for err_msg in errors.apellido %}
                            <span class="help-block">{{err_msg}}</span>
                        {% endfor %}
                    {% endif %}
                </div>
                <div class="form-group {% if errors.fecha_nac is defined  %}has-error{% endif %}">
                    <input type="text" class="form-control" name="fecha_nac" id="fecha_nac" {% if form is defined  %}value="{{form.fecha_nac}}"{% endif %}
                           placeholder="Fecha de Nacimiento">
                    
                    {% if errors.fecha_nac is defined %}
                        {% for err_msg in errors.fecha_nac %}
                            <span class="help-block">{{err_msg}}</span>
                        {% endfor %}
                    {% endif %}
                </div>

                <div class="form-group">
                    <label for="exampleInputFile">Escoge tu foto</label>
                    <div class="input-group">
                      <div class="custom-file">
                        <input type="file" class="custom-file-input" id="foto" name="foto">
                      </div>
                    </div>
                </div>                
                <div class="row">
                    <div class="col-xs-4">
                        <div class="form-group {% if errors.terminos is defined  %}has-error{% endif %}">
                        </div>
                    </div>
                    <!-- /.col -->
                    <div class="col-xs-4">
                        <button type="submit" id="submitRegistro" class="btn btn-primary btn-block btn-flat">Confirmar</button>
                    </div>
                    
                    <div class="col-xs-4">
                        <button type="reset" id="resetRegistro" class="btn btn-primary btn-block btn-flat">Cancelar</button>
                    </div>                    
                    <!-- /.col -->
                </div>
            </form>
        </div>
{% endblock %}