{% extends 'layout.html.twig' %}
{% block title %}
    UnAventon - Perfil
{% endblock %}
{% block contenido %}
    <!-- Profile Image -->
    <div class="box box-primary">
        <div class="box-body box-profile">
            <img class="profile-user-img img-responsive img-circle" src="{% if usuario.foto %}{{usuario.foto}}{% else %}/img/anonimo.png{% endif %}" alt="User profile picture">
            <h3 class="profile-username text-center"> {{usuario.nombre}} {{usuario.apellido}}</h3>
            <p class="text-muted text-center">{{usuario.email}}</p>
            <ul class="list-group list-group-unbordered">
                <li class="list-group-item">
                    <b>Total de Viajes</b> <a class="pull-right">{{usuario.cantViajesTotal}}</a>
                </li>
                <li class="list-group-item">
                    <b>Como Chofer</b> <a class="pull-right">{{usuario.cantViajesChofer}}</a>
                </li>
                <li class="list-group-item">
                    <b>Como Pasajero</b> <a class="pull-right">{{usuario.cantViajesPasajero}}</a>
                </li>
                <li class="list-group-item">
                    <b>Reputacion</b> <a class="pull-right">{{usuario.reputacion}}</a>
                </li>
            </ul>
        </div>
        <!-- /.box-body -->
    </div>
{% endblock %}

