<!-- Post -->
<div class="notificaciones">
    <h3>Calificaciones pendientes y/o realizadas</h3>
    <hr>
    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Nº</th>
                    <th>Viaje</th>
                    <th>Calificado</th>
                    <th>Acciones</th>
                    <th>Comentarios</th>
                </tr>
            </thead>
            <tbody>
                {% for calificacion in calificaciones %}
                    <tr>
                        <td>{{calificacion.id}}</td>
                        <td>{{calificacion.id_viaje}}</td>
                        <td>{{calificacion.nombre}}</td>
                        <td>
                            {% if calificacion.calificacion == 0 %}
                                <button class="btn btn-success calificarBien"  data-calificacion="/usuario/calificar/{{calificacion.id}}/positivo">+1</button>
                                <button class="btn btn-danger calificarMal"  data-calificacion="/usuario/calificar/{{calificacion.id}}/negativo">-1</button>
                            {% else%}
                                {{calificacion.calificacion}}
                            {% endif %}
                        </td>
                        <td>
                            {% if calificacion.calificacion == 0 %}
                            <input type="textarea" class="form-control" name="comentario" placeholder="Comentario">
                            {% if errors.nombre is defined %}
                                {% for err_msg in errors.nombre %}
                                    <span class="help-block">{{err_msg}}</span>
                                {% endfor %}
                            {% endif %}
                            {% else%}
                                {{calificacion.comentario}}                            
                            {% endif %}                            
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>            
    </div>
 <h3>Calificaciones Recibidas</h3>
    <hr>
    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Nº</th>
                    <th>Viaje</th>
                    <th>Calificante</th>
                    <th>Puntación</th>
                    <th>Comentario</th>
                </tr>
            </thead>
            <tbody>
                {% for miCalificacion in misCalificaciones %}
                    <tr>
                        <td>{{miCalificacion.id}}</td>
                        <td>{{miCalificacion.id_viaje}}</td>
                        <td>{{miCalificacion.id_calificante}}</td>
                        <td>{{miCalificacion.calificacion}}</td>
                        <td>{{miCalificacion.comentario}}</td>                                                                                   
                    </tr>
                {% endfor %}
            </tbody>
        </table>            
    </div>            
</div>