<table id="example" class="table table-striped table-bordered" style="width:100%">
        <thead>
            <tr>
                <th>Chofer</th>
                <th>Origen</th>
                <th>Destino</th>
                <th>Fecha</th>
                <th>Hora</th>
                <th>Monto</th>
                <th>Est. Viaje</th>
                <th>Est. Postulación</th>
            </tr>
        </thead>
        <tbody>
            {% for viaje in viajes %}
            <tr>
                <td><a href="usuario/verOtroUsuaurio/{{viaje.id}}">{{viaje.nombre}} {{viaje.apellido}}</a></td>
                <td>{{viaje.origen}}</td>
                <td>{{viaje.destino}}</td>
                <td>{{viaje.fecha | date("d/m/Y")}}</td>
                <td>{{viaje.hora}}</td>
                <td>{{viaje.monto}}</td>
                <td>{{viaje.nombreEstadoViaje}}</td>
                <td>{{viaje.nombreEstadoPostulacion}}</td>
            </tr>
            {% endfor %}
        </tbody> 
    </table>
{#<!-- The timeline -->
<ul class="timeline timeline-inverse">
    <!-- timeline time label -->
    <li class="time-label">
        <span class="bg-red">
            Historial de viajes
        </span>
    </li>
    {% for viaje in viajes %}
        <!-- /.timeline-label -->
        <!-- timeline item -->
        <li class="time-label">
            <span class="bg-green">
                {{viaje.fecha | date("d/m/Y")}}
            </span>
        </li>
        <li>
            <i class="fa fa-car bg-blue"></i>

            <div class="timeline-item">
                <span class="time"><i class="fa fa-clock-o"></i> {{viaje.hora}}</span>

                <h3 class="timeline-header"><a href="#">Tu conductor fue: </a>{{viaje.nombre }} {{viaje.apellido}}</h3>

                <div class="timeline-body">
                    <strong>Viajeste a:</strong> {{viaje.destino}} 
                    <br>
                    <strong>Desde:</strong> {{viaje.origen}} 
                    <br>
                    <strong>Abonando:</strong> {{viaje.monto}}$ 
                </div>
            </div>
        </li>
    {% endfor %}
    <li>
        <i class="fa fa-clock-o bg-gray"></i>
    </li>
</ul>#}